{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "assets/CSS/home.css" %}">
    <title>Seeker</title>
</head>


<body>
    <div class="home">
        <div class="header">
            <div class=" title">
                DJANGO JOB PORTAL
                <div class="header-elements">
                    <a href="./rec-home.html">Home</a>
                    <a href="./post-job.html">Post Jobs</a>
                    <b>Welcome, Recruiter1</b>
                </div>
            </div>
            <div class=" navbar">
                <a href=""> LOGOUT</a>
            </div>
        </div>
        
        </div>
    
    <div class="rec-home">
        <div class="dash">
            <h1>Welcome to Job Poster's Dashboard ! 😊</h1>
        </div>
    </div>

    <div class="rec-home">
        <div class="dash">
            <h1>Manage Jobs :</h1><br>
            <div class="container2">
                <ul class="responsive-table2">
                  <li class="table-header2">
                    <div class="col col-1">Job Title</div>
                    <div class="col col-2">Location</div>
                    <div class="col col-4">No of Applicant</div>
                    <div class="col col-4">Status</div>
                    <div class="col col-4">Update</div>
                  </li>
                  <li class="table-row2">
                    <div class="col col-1" data-label="Job Id">Developer</div>
                    <div class="col col-2" data-label="Customer Name">Coimbatore</div>
                    <div class="col col-3" data-label="Amount">0 <a href="">view</a></div>
                    <div class="col col-4" data-label="Payment Status">Active</div>
                    <div class="col col-5" data-label="Payment Status"><a href="">Update</a></div>
                  </li>
                  <li class="table-row2">
                    <div class="col col-1" data-label="Job Id">Developer</div>
                    <div class="col col-2" data-label="Customer Name">Coimbatore</div>
                    <div class="col col-3" data-label="Amount">0 <a href="./apllicat.html">view</a></div>
                    <div class="col col-4" data-label="Payment Status">Active</div>
                    <div class="col col-5" data-label="Payment Status"><a href="">Update</a></div>
                  </li>
                  <li class="table-row2">
                    <div class="col col-1" data-label="Job Id">Developer</div>
                    <div class="col col-2" data-label="Customer Name">Coimbatore</div>
                    <div class="col col-3" data-label="Amount">0 <a href="">view</a></div>
                    <div class="col col-4" data-label="Payment Status">Active</div>
                    <div class="col col-5" data-label="Payment Status"><a href="">Update</a></div>
                  </li>
                  <li class="table-row2">
                    <div class="col col-1" data-label="Job Id">Developer</div>
                    <div class="col col-2" data-label="Customer Name">Coimbatore</div>
                    <div class="col col-3" data-label="Amount">0 <a href="">view</a></div>
                    <div class="col col-4" data-label="Payment Status">Active</div>
                    <div class="col col-5" data-label="Payment Status"><a href="">Update</a></div>
                  </li>
                </ul>
              </div>
        </div>
    
        
        </div>

       
</body>
</html>